* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
    
}

.logo-container {
    margin-left: 30px;
}

.logo {
    height: 40px;
}

nav {
    display: flex;
    background-color: rgb(51, 51, 51);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    min-width: auto;
    transition: background-color 0.15s;
}

nav:hover {
    background-color: rgb(29, 29, 29);
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

nav a {
    color: rgba(255, 255, 255, 0.773);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.15s;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

.hamburger {
    display: none;
    width: 30px;
    cursor: pointer;
    filter: invert();
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav {
        flex-wrap: wrap;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        width: 100%;
        background-color: rgb(51, 51, 51);
        text-align: center;
        padding-top: 20px;
        border-top: 1px solid rgb(78, 78, 78);
        margin-bottom: -21px;
        transition: max-height 0.4s ease-out, opacity 0.4s ease-out, margin-bottom 0.8s ease-out, background-color 0.15s;
    }

    nav ul.active {
        max-height: 500px;
        opacity: 1;
        margin-bottom: 15px;
        background-color: transparent;
    }

    nav ul li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#back-to-top {
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 60, 0);
    color: rgba(255, 255, 255, 0.873);
    cursor: pointer;
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 25px;

    opacity: 0;
    pointer-events: none;
    display: flex;
    transition: background-color 0.3s, opacity 0.3s ease, color 0.3s;
}

#back-to-top.show {
    opacity: 1;
    pointer-events: auto;
}

#back-to-top:hover {
    background-color: red;
    color: whitesmoke;
}

#back-to-top:active {
    background-color: darkred;
    color: white;
}

section {
    scroll-margin-top: 100px;
}



#search-section {
    padding: 50px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#city-input {
    padding: 20px 30px;
    font-size: 19px;
    width: 100%;
    max-width: 700px;
    border: 2px solid rgba(0, 0, 0, 0.168);
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    transition: background-color 0.3s, border-color 0.10s;
    text-align: center;
}

#city-input:hover {
    background-color: whitesmoke;
}

#city-input:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.359);
}

#city-input:focus::placeholder {
    color: rgba(255, 255, 255, 0);
}

#search-btn {
    padding: 20px 25px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.168);
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: whitesmoke;
}

#search-btn:active {
    background-color: rgb(187, 185, 185);
}

#weather-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 100px 0;
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}



.weather-card {
    background-color: white;
    padding: 150px 90px;
    border-radius: 20px;
    box-shadow: 0 0 95px rgb(0, 0, 0, 0.4);
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.weather-card.night h2 {
    color: yellow !important;
}

.weather-card.night p,
.weather-card.night span {
    color: whitesmoke !important;
}

.weather-card.day {
    background: linear-gradient(to bottom right, white, rgb(255, 255, 146), rgb(151, 211, 231));
}

.weather-card.night {
    background: linear-gradient(to bottom right, rgb(26, 35, 126), rgb(50, 105, 193));
    color: white;
} 

.weather-forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
}

#seven-day-title-text {
    font-size: 30px;
}

#forecast-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.forecast-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    transition: transform 0.3s;
}

.forecast-card:hover {
    transform: translateY(-5px);
}

.forecast-card img {
    width: 50px;
}

#loader {
    display: none;
    text-align: center;
    padding: 50px;
}

#loader.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid lightgray;
    border-top: 4px solid blue;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#city-name {
    font-size: 38px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.712)
}

#date {
    font-size: 19px;
    color: gray;
    margin-bottom: 20px;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

#temperature {
    font-size: 130px;
    margin: 10px 0;
}

#unit-toggle {
    background-color: rgb(226, 224, 224);
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 5px;
    transition: background-color 0.1s;
}

#unit-toggle:hover {
    background-color: rgb(214, 212, 212);
}

#unit-toggle:active {
    background-color: rgb(179, 179, 179);
}

#description {
    font-size: 48px;
    color: rgba(128, 128, 128, 0.819);
    font-weight: 500;
    margin-bottom: 30px;
}

.weather-details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(238, 238, 238);
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail span:first-child {
    font-size: 18px;
    color: rgb(136, 136, 136);
    margin-bottom: 5px;
}

.detail span:last-child {
    font-size: 25px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

#about-section {
    padding: 60px 20px;
    background-color: lightgray;
    
}

.about-container h2{
    font-size: 32px;
    margin-bottom: 20px;
    columns: rgb(51, 51, 51);
    text-align: center;
}

.about-container p {
    font-size: 17px;
    color: rgb(85, 85, 85);
    text-align: justify;
    line-height: 1.6;
    margin-left: 30px;
}

.about-container img {
    width: 100px;
    margin-bottom: 20px;
    margin-left: 30px;
    display: inline;
}

footer {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 40px 20px;
    text-align: center;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

footer a {
    color: rgb(204, 204, 204);
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 14px;
    color: rgb(136, 136, 136);
}

/* for smaller devices */
@media (max-width: 768px) {

    #temperature {
        font-size: 65px;
    }

    .weather-details {
        flex-direction: column;
        gap: 15px;
    }

    #back-to-top {
        bottom: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
        font-size: 16px;
    }
}